{% extends 'image/base.html' %} <br />

{% block content %}

<div class="row w-75 mx-auto mt-3 mb-5 shadow-sm p-3">
  <form action="" method="post" novalidate>
    {% if form.non_field_errors %} {% for error in form.non_field_errors %}
    <p class="alert alert-danger">{{error}}</p>
    {% endfor %} {% endif %} {% csrf_token %} {{form.as_p}}
    <a class="" href="{% url 'password-reset' %}">Forgot Password?</a> <br />
    <input class="btn btn-primary px-5 float-end" type="submit" value="Login" />
  </form>
  <p class="text-center text-primary fw-bold">
    Don't have an account?
    <a class="text-danger" href="{% url 'signup' %}">Signup</a>
  </p>
</div>

{% endblock content %}
